/.vscode
/assignment
/data&varibles.js
/datatype&varibles.js
/Doc1.docx
/Dom.docx
/forloop.js
/function.js
/if-_else.js
/if_else.js
/index.html
/index.js
/JAVASCRIT_PRATICE(2)
/map.docx
/New folder
/pratice.html
/reduce.docx
/table.css
/Untitled-1.txt