

.hi{
    margin: 15px 0px 10px 18px;
    padding: 10px ;
    width: 350px;
    height: 250px;
    display: inline-block;
    box-sizing: border-box;
    background-color: aqua;
    overflow: hidden scroll;
   
   
}
.con{
    background-color: brown;
    width: 100%;
    display: inline-block;
    height: 550px;
   text-align: center;
   
   /* margin-top: -290px; */
   /* float: left; */
   
   
}
.left{
    width: 10%;
    background-color:rgb(160,20,51);
    height: 600px;
    /* padding: 0px 0px; */
    padding-top: 20px;

}
.left ul li{
    list-style-type: none;
    padding-top: 90px;
    
}
.left ul li a{
    text-decoration: none;
}


.right{
    width: 90%;
    height: 600px;
    margin-left: 10%;
    background-color: rgb(226, 43, 83);
    margin-top:-600px ;
}
header{
   background-color: limegreen;
   padding: 5px ;
   height: 100px;
   margin: 0px;
   padding-top: 45px;
   box-sizing: border-box;
  
}

footer{
    background-color: rgba(190, 44, 8, 0.205);
    text-align: center;
    height:50px;
    width: 100%;
    padding-top: 7px; 
    /* margin-bottom: 0px; */
     margin-top:38px;
}
#one{
    margin-top: px;
}
.nav ul li{
    list-style-type: none;
    padding-left: 45px;
    display: inline;

}
 



.top_nav ul li{
   
    list-style-type: none;
    display: inline;
    padding: 40px;
}
.top_nav ul li a{
    text-decoration: none;
}
